* {
  margin: 0;
}

H1,
H2,
H3 {
  font-family: roc-grotesk, sans-serif;
  font-weight: 600;
  font-style: normal;
}

p {
  font-family: gopher, sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
}

/* Marius - CSS CODE FOR THE "WHO WE ARE" SECTION */

.background_whoweare {
  position: relative;
  background-color: #5B1BDB;
  width: 100vw;
  height: 100vh;
  z-index: -3;
}

.background_texture_whoweare {
  background: url("../images/texture/bg1.png") no-repeat center center fixed;
  width: 100vw;
  height: 100vh;
  z-index: -2;
}

.textbox_whoweare {
  position: absolute;
  width: 41vw;
  left: 16vw;
  top: 16vw;
}

.header_whoweare {
  text-align: left;
  font: bold 2vw/3.5vw Roc Grotesk;
  color: #ECE9E1;
}

.body_whoweare {
  text-align: left;
  font: 1.1vw/2.4vw Gopher;
  color: #ECE9E1;
  margin-top: 2vw;
}

.button_whoweare {
  background: #FA7B26;
  text-align: center;
  font: 1.3vw/1.6vw Gopher;
  color: #ECE9E1;
  text-transform: uppercase;
  padding: 0.7vw 3.4vw;
  float: right;
  margin-top: 3vw;
}

.icon_select {
  position: absolute;
  margin-top: 4.5vw;
  margin-left: 24vw;
  width: 4.6vw;
  height: 4.7vw;
}

.illustration_splash {
  position: absolute;
  top: 4.9vw;
  left: -2vw;
  width: 14vw;
  height: 3vw;
  z-index: -1;
}
/* END OF THE CSS CODE FOR THE "WHO WE ARE" SECTION */


/* Vlada - CSS CODE FOR "OUR STORY" PAGE: Present time section */
.background-present {
  position: relative;
  background: url("../images/texture/bg2.png") no-repeat center center fixed;
  background-color: #FA7B26;
  width: 100vw;
  height: 100vh;
  z-index: -2;
}

.flex-img-text {
  display: flex;
  flex-direction: row;
}

.flex-text {
  padding-top: 15vw;
  padding-left: 16vw;
  padding-right: 8vw;
}

.present-splash {
  position: absolute;
  top: 14.5vw;
  left: 15vw;
  width: 14vw;
  height: 3vw;
  z-index: -1;
}

.present-text {
  text-align: left;
  font: 1.5vw/2vw Roc Grotesk;
  color: #ECE9E1;
}

.present-img {
  height: 100vh;
}
/* Vlada - END OF CSS CODE FOR "OUR STORY" PAGE: Present time section */

/* Vlada - CSS CODE FOR "OUR STORY" PAGE: Petition section */
.background-support {
  position: relative;
  background: url("../images/texture/bg.png") no-repeat center center fixed;
  background-color: #ECE9E1;
  width: 100vw;
  height: 100vh;
  z-index: -2;
}

.sup-text {
  padding-top: 5vw;
  padding-left: 16vw;
  padding-right: 8vw;
}

.sup-splash {
  position: absolute;
  top: 4.5vw;
  left: 15vw;
  width: 14vw;
  height: 3vw;
  z-index: -1;
}

.support-head {
  text-align: left;
  font: 1.5vw/2vw Roc Grotesk;
  color: #121212;
}

.support-text{
  text-align: left;
  font: 1.1vw/2vw Gopher;
  color: #121212;
}

.button-sup {
  background: #FA7B26;
  text-align: center;
  font: 1.1vw/1.6vw Gopher;
  color: #ECE9E1;
  text-transform: uppercase;
  padding: 0.5vw 3vw;
  float: left;
  margin-top: 1.5vw;
  margin-left: 5vw;
}

/* Vlada - END OF CSS CODE FOR "OUR STORY" PAGE: Petition section */

